.nav{
              height: 5%;
              display: flex;
              justify-content: space-between;
              align-items: center;   
              margin: 10px 15px;
              padding: 15px 20px;
              position: relative;
}
.nav_logo{
              display: flex;
              font-weight: 900;
              font-family: auto;
              background-color: white;
              padding: 2px;
              border-radius: 10px;
}
.nav_list{
              display: flex;
              list-style: none;   
}
.nav_link{
              margin: 0 20px;
}        
.listA{
              text-decoration: none;
              font-size: 130%;
              font-weight: 600;
}
@media (prefers-color-scheme: dark){
              .listA{
                            color: rgb(226, 226, 226);
              }
              
            }
@media (prefers-color-scheme: light){
              .listA{
                            color: gray
              }
              
            }
.listA:hover{
              font-size: 130%;
              color: blue;
              border-bottom: 4px solid rgb(46, 46, 245);
}
.listA:focus, .listA:active{
              font-size: 130%;
              color: blue;
              border-bottom: 4px solid rgb(46, 46, 245);
}

.nav_src{
              position: absolute;
              text-align: right;
              top: 30%;
              right: 0;
              height: fit-content;
              width: 90%;
              background-color: rgba(255, 255, 255, 0);
              transition: 0.5s ease;
              z-index: 5;
              flex-direction: column;
              padding: 5px;
              border-radius: 25px;
}   
.nav_srcList{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0;

}  
.nav_srcLink {
              text-align: right;
              width:  100%;
              padding: 20px;
              margin: 2px 0;             
}  
@media (prefers-color-scheme: dark){
              .nav_srcLink{
                             background-color: rgb(144, 144, 192);
              }
            } 
@media (prefers-color-scheme: light){
              .nav_srcLink{
                            background-color: rgb(201, 201, 244);
              }
            } 

.nav_srcList{
              list-style: none;
}
.nav_srcList  li{
              text-align: center;
}
.nav_small{
              display: none;
}
.star{
              color: rgb(239, 190, 190);
}
.code{
              color: rgb(239, 190, 190);
}

.logo_name{
              color: rgb(44, 44, 244);
}
@media screen and (max-width: 650px) {              
              .nav_small{
                            display: block;
              }
              .nav_list{
                            display: none;
              }
              
              .nav_button{
                            padding: 10px 20px;
                            font-weight: 700;
                            border-radius: 15px;
                            font-size: 80%;
              }
}