.nav{
              height: 55px;
              display: flex;
              background-color: inherit;
              justify-content: space-between;
              align-items: center;   
              margin: 0;
              padding: 0 50px;
              position: relative;
              position: sticky;
              top: 0;
              z-index: 100;

              .theme-button{
                margin-top: 8px;
                cursor: pointer;
              }
              .theme-button2{
                margin-top: 2px;
                cursor: pointer;
              }

}
.nav_logo{
              display: flex;
              font-weight: 900;
              font-size: 10px;
              font-family: auto;
              background-color: white;
              padding: 2px;
              border-radius: 10px;
}
.nav_list{
              display: flex;
              list-style: none;  
              padding-left: 0;
              padding-right: 0; 
}
.nav_link{
              margin: 0 20px;
} 
     
.listA{
              text-decoration: none;
              font-size: 130%;
              font-weight: 600;
}
.listA:hover, .listA:focus, .listA:active{
              border-bottom: 4px solid rgb(46, 46, 245);
}

.nav_src{
              position: absolute;
              text-align: right;
              top: 30%;
              right: 20px;
              height: fit-content;
              width: 100%;
              background-color: rgba(255, 255, 255, 0);
              transition: 0.5s ease;
              z-index: 5;
              flex-direction: column;
              padding: 0, 5px;
              border-radius: 25px;
}   
.nav_sro{
  margin-left: 20px;
}
.nav_srcList{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0;

}  
.nav_srcLink {
              text-align: right;
              width:  100%;
              padding: 20px;
              margin: 2px 0;             
} 
.small{
  display: flex;
}       
.nav_srcList{
              list-style: none;
}
.nav_srcList  li{
              text-align: center;
}
.nav_small{
              display: none;
}
.star{
              color: rgb(239, 190, 190);
}
.code{
              color: rgb(239, 190, 190);
}

.logo_name{
              color: rgb(44, 44, 244);
}

.dark-theme .nav{
  .listA{
                color: rgb(226, 226, 226);
  }
  .listA:hover, .listA:active, .listA:focus{
    color: blue;
}
  .nav_srcLink{
    background-color: rgb(144, 144, 192);
}
  .sun{
    display: block;
    color: rgb(226, 226, 226);
  }
  .moon{
    display: none;
  }
}
.light-theme .nav{
  .listA{
                color: gray
  }
  .listA:hover, .listA:active, .listA:focus{
    color: blue;
}

  .nav_srcLink{
    background-color: rgb(201, 201, 244);
}
  .sun{
    display: none;
  }
  .moon{
    display: block;
    color: gray
  }
}

@media screen and (max-width: 670px) {   
  .nav{
    height: 40px;
    padding: 0 30px;
  }
        
              .nav_small{
                            display: block;
              }
              .nav_list{
                            display: none;
              }

              .listA{
                font-size: 100%;
  }
  .sun{
    font-size: small;
  }
  .moon{
    font-size: small;
  }

}