.work1{
  padding: 0  30px;
}
.work1 h2{
  font-size: 50px;
}

.works{
  margin-bottom: 30px;
}

.grid-container{
  padding: 50px 0;
}

.grid-container:last-child{
  padding: 5px 0;
}

.works-section{
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background: center;
  background-size: cover;   
  margin: 0;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
}
.code-link{
  display: none;
  height: 100%;
  text-align: center;
  color: white;
  border-radius: 10px;

  a{
      margin: 0 20px;
      padding: 5px;
      border: 1px solid whitesmoke;
      color: white;
      font-weight: 700;
      width: 100px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.6);
  }
  a:hover{
    background-color: rgba(27, 17, 156, 0.8);
  }
}
.works-section:hover{
  article{
    display: none;
  }
  .code-link{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease-in;
  }
}
article{
  display: block;
  background-color: rgba(0, 0, 0,0.6);
  height: 100%;
  border-radius: 10px;
}

.works .text{
  color: white;
}
.works ul{
  display: flex;
  list-style: none;
  margin: 0;
padding: 0;
}
.works li{
  margin-top: -20px;
  margin-right: 15px;
  font-size: 10px;
}
.works h4{
  margin-top: -5px;
}
.works .text{
  height: 100%;
  text-align: center;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.works p{
  font-size: 15px;
  margin-top: -10px;
}
.works h3{
  font-size: 40px;
}
.works a{
  text-decoration: none;
}
@media screen and (min-width: 850px) {
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0px 50px; 

  }
  .works-section{
    height: 300px;
    
  }
  .works p{
    font-size: 20px;
    margin-top: 0;
  }
  .works h3{
    font-size: 50px;
  }
  
}